@using Blazored.SessionStorage
@using TestTask.Shared
@inherits LayoutComponentBase
@inject ISessionStorageService _storageService
@inject HttpClient _http

<div class="sidebar">
    <NavMenu />
</div>


<div class="main">
    <div class="content">
        @Body
    </div>
</div>

@code
{
    protected override async Task OnInitializedAsync()
    {
        await Program.AppData.InitializeBaseProperties();
        var response = await _http.GetFromJsonAsync<IEnumerable<Division>>("divisions");
        Program.AppData.Divisions = response;
    }
}
